<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <title>Mealsmack</title>
</head>
<body style="background-color: rgba(201, 209, 208, 0.342); font-family: 'Poppins', sans-serif;">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 4rem;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="margin-left: 2rem; ">
            <a class="navbar-brand" th:href="@{/home}" style="font-weight: 700; text-align: right;">
                <img src="images/logo.png" width="40px" height="40px" style="margin-right:1rem" alt="logo">Mealsmack</a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}" style="font-weight: 600; margin-left: 68rem;" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/restaurants}" style="font-weight: 600; margin-left: 1.5rem;">Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-weight: 600; margin-left: 1.5rem;" >About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/login}" style="font-weight: 600; margin-left: 1.5rem;" >Login</a>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div style="margin: 3rem; text-align: center;" >
</div>


<div class="row mb-4" style="margin: auto; width: 70%;">
    <div class="col d-flex justify-content-left" >
        <form method="post" th:action="@{/restaurants/add}">
            <div class="form-group" style="margin: 2rem">
                <label for="name" style="font-weight: bold">Name: </label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
            </div>

            <div class="form-group" style="margin: 2rem">
                <label for="latitude" style="font-weight: bold">Latitude: </label>
                <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Enter latitude">
            </div>

            <div class="form-group" style="margin: 2rem">
                <label for="longitude" style="font-weight: bold">Longitude: </label>
                <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Enter longitude">
            </div>

            <div class="form-group" style="margin: 2rem">
                <label for="municipality" style="font-weight: bold">Municipality: </label>
                <select class="custom-select mr-sm-2" id="municipality" name="municipality">
                    <option selected value="Centar" name="municipality">Centar</option>
                    <option value="Karposh" name="municipality">Karposh</option>
                    <option value="Aerodrom" name="municipality">Aerodrom</option>
                    <option value="Kisela Voda" name="municipality">Kisela Voda</option>
                    <option value="Cair" name="municipality">Cair</option>
                    <option value="Gazi Baba" name="municipality">Gazi Baba</option>
                    <option value="Butel" name="municipality">Butel</option>
                    <option value="Gjorche Petrov" name="municipality">Gjorche Petrov</option>
                </select>
            </div>

            <div class="form-group" style="margin: 2rem">
                <label for="amenity" style="font-weight: bold">Amenity:</label>
                <select class="custom-select mr-sm-2" id="amenity" name="amenity">
                    <option selected value="restaurant" name="amenity">Restaurant</option>
                    <option value="fast_food" name="amenity">Fast Food</option>
                </select>
            </div>

            <div class="form-group" style="margin: 2rem">
                <label for="amenity" style="font-weight: bold">Cuisine:</label>
                <select class="custom-select mr-sm-2" id="cuisine" name="cuisine">
                    <option th:each="cuisine : ${cuisines}"  th:value="${cuisine}"  th:text="${cuisine}" name="Cuisine"></option>
                </select>
            </div>


            <input type="submit" class="btn btn-primary">
        </form>
    </div>


</div>

<hr style="margin-top: 3rem;">

<div >
    <p style="text-align: center; font-weight: 700; font-size: large;margin-top: 1rem">&copy; Sergej Filipovski 181281</p>
</div>
</body>
</html>