<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <title>Mealsmack</title>
</head>
<body style="background-color: rgba(201, 209, 208, 0.342); font-family: 'Poppins', sans-serif;">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 4rem;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="margin-left: 2rem; ">
            <a class="navbar-brand" th:href="@{/home}" style="font-weight: 700; text-align: right;">
                <img src="images/logo.png" width="40px" height="40px" style="margin-right:1rem" alt="logo">Mealsmack</a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}" style="font-weight: 600; margin-left: 68rem;" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/restaurants}" style="font-weight: 600; margin-left: 1.5rem;">Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-weight: 600; margin-left: 1.5rem;" >About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/login}" style="font-weight: 600; margin-left: 1.5rem;" >Login</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div style="margin: 2rem;" th:if="${session.admin!=null}">
    <a class="btn btn-primary" th:href="@{'/restaurants/add'}">+Add new restaurant</a>
</div>


<div style="background-color: rgba(207, 207, 207, 0.655);">
    <div class="progress" style="width: 100%; margin-top: 2rem; margin-bottom: 2rem;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
    </div>

    <form th:action="@{/restaurants}" th:method="post" style="margin-left: 2rem;">
        <label >Select municipality: </label>
        <select name="municipality" id="municipality">
            <option value="all" selected>--</option>
            <option value="Karposh" name="municipality">Karposh</option>
            <option value="Centar" name="municipality">Centar</option>
            <option value="Aerodrom" name="municipality">Aerodrom</option>
            <option value="Kisela Voda" name="municipality">Kisela Voda</option>
            <option value="Gazi Baba" name="municipality" >Gazi Baba</option>
            <option value="Gjorche Petrov" name="municipality">Gjorche Petrov</option>
            <option value="Cair" name="municipality">Cair</option>
            <option value="Butel" name="municipality">Butel</option>
        </select>

        <label style="margin-left: 2rem">Select cuisine: </label>
        <select name="amenity" id="amenity">
            <option value="all" selected>--</option>
            <option value="restaurant" name="amenity">Restaurant</option>
            <option value="fast_food" name="amenity">Fast Food</option>
        </select>

        <label style="margin-left: 2rem">Select amenity: </label>
        <select name="cuisine" id="cuisine">
            <option value="all" selected>--</option>
            <option   th:each="cuisine : ${cuisines}"  th:value="${cuisine}" th:text="${cuisine}" name="cuisine">Restaurant</option>
        </select>

        <input type="submit" class="btn btn-success" id="submit" value="Select" style="margin-left: 1rem">
    </form>




    <table class="table table-hover" style="margin-left:2rem; width: 100%;" th:if="${restaurants.size()>0}">
        <thead style="font-size: large;">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Municipality</th>
            <th scope="col">Amenity</th>
            <th scope="col">Cuisine</th>

        </tr>
        </thead>
        <tbody>
        <tr class="table-light" th:each="restaurant : ${restaurants}">
            <td scope="col" th:text="${restaurant.getName()}"></td>
            <td th:text="${restaurant.getMunicipality()}"></td>
            <td th:text="${restaurant.getAmenity()}"></td>
            <td><th:block th:text="${restaurant.getCuisine().get(0)}"></th:block>
                <span th:if="${restaurant.getCuisine().size()>3}">,
                    <th:block th:text="${restaurant.getCuisine().get(1)}"></th:block>,
                <th:block th:text="${restaurant.getCuisine().get(2)}"></th:block>, etc.</span>  </td>

            <td style="text-align: center;"><a class="btn btn-info" th:href="@{'/restaurants/map/{id}' (id=${restaurant.getId()})}">View</a></td>

            <th>
                <form th:if="${session.admin!=null}" th:method="delete" th:action="@{'/restaurants/delete/{id}' (id=${restaurant.getId()}) }">
                    <button name="delete-button" type="submit">Delete</button>
                </form>
            </th>
        </tr>

        </tbody>
    </table>

    <h3 th:if="${restaurants.size()==0}" style="margin-left: 3rem">0 results found!</h3>

    <hr style="margin-top: 3rem;">
</div>

<p style="text-align: center; font-weight: 700; font-size: large;">&copy; Sergej Filipovski 181281</p>

</body>
</html>